/* Global Style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    letter-spacing: .2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 0.2em;
}

main { 
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

.job-title {
    font-size: 1.4em; 
    font-weight: bold; 
    color: #0073b1; 
    text-transform: uppercase; 
    letter-spacing: 0.1em; 
    display: block; 
} 

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

/* Specific to  Table of Contents */
#table-of-contents {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
}

#table-of-contents h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0073b1;
}

#table-of-contents ul {
    list-style: none; 
    padding: 0;
}

#table-of-contents li {
    margin: 5px 0;
}

#table-of-contents a {
    text-decoration: none;
    color: #0073b1;
    font-weight: bold;
}

#table-of-contents a:hover {
    text-decoration: underline;
    color: #0054ad;
}

/* General Styles */
#mainLeft {
    border-right: 1px solid lightgray;
}

#mainRight {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Specific to  Role and Company */
.role-container {
    border-left: 4px solid #0073b1;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
}

.company-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.company-header p {
    margin: 1px 15px 5px;
    color: #555;
    font-style: italic;
}

.company-description {
    margin-bottom: 15px !important;
}


.company-container {
    border-left: 2px solid #0073b1;
    padding-left: 15px;
    margin-bottom: 30px;
}

.role {
    margin-bottom: 20px;
}

.role h4 {
    font-size: 1.5em;
    margin: 0;
}

.role p {
    margin: 5px 0 10px;
    color: #555;
    font-style: italic;
}

.role ul {
    padding-left: 20px;
    margin: 0;
    list-style: disc;
}

.role ul li {
    margin-bottom: 10px;
}

/* Estilo para a seção de Educação */
.education-container {
    border-left: 2px solid #0054ad;
    padding-left: 15px;
    margin-bottom: 20px;
}

.education-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.education-header p {
    margin: 1px 15px 5px;
    color: #555;
    font-style: italic;
}

.education-description {
    margin-bottom: 15px !important;
}

/* Estilo para os cursos dentro da seção de Educação */
.course-container {
    border-left: 4px solid #0073b1;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
}

.course-title {
    font-size: 1.5em;
    margin: 0;
    color: #0073b1;
}

.course-summary {
    margin: 5px 0 10px;
    color: #555;
    font-style: italic;
}

.course-details {
    padding-left: 20px;
    margin: 0;
    list-style: disc;
}

.course-details li {
    margin-bottom: 10px;
}


/* Specific to  Section languages */

.languages .section-title {
    padding-bottom: 0;
}

.languages .language-list {
    padding: 0;
}

.languages .language-item {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.languages .language-name {
    font-weight: bold;
    color: #0054ad;
}

.languages .language-level {
    font-style: italic;
    color: #6c757d;
}

.languages .language-item:last-child {
    border-bottom: none;
}
