/* Global Style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    letter-spacing: .2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 0.2em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

.job-title {
    font-size: 1.4em; /* Ajuste o tamanho da fonte */
    font-weight: bold; /* Deixe o texto em negrito */
    color: #0073b1; /* Altere a cor para um azul profissional */
    text-transform: uppercase; /* Transforme o texto para maiúsculas */
    letter-spacing: 0.1em; /* Adicione espaçamento entre as letras */
    display: block; /* Garante que o texto ocupa uma nova linha */
} 

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

/* General Styles */
#mainRight {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.role-container {
    border-left: 4px solid #0073b1;
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.company-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.company-header p {
    margin: 5px 0 15px;
    color: #555;
    font-style: italic;
}

/* Role-specific styles */
.company-container {
    margin-left: 20px;
    border-left: 2px solid #0073b1;
    padding-left: 15px;
}

.role {
    margin-bottom: 20px;
}

.role h4 {
    font-size: 1.5em;
    margin: 0;
}

.role p {
    margin: 5px 0 10px;
    color: #555;
    font-style: italic;
}

.role ul {
    padding-left: 20px;
    margin: 0;
    list-style: disc;
}

.role ul li {
    margin-bottom: 10px;
}



/* Specific to  Section languages */

.languages .section-title {
    padding-bottom: 0;
}

.languages .language-list {
    padding: 0;
}

.languages .language-item {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.languages .language-name {
    font-weight: bold;
    color: #0054ad;
}

.languages .language-level {
    font-style: italic;
    color: #6c757d;
}

.languages .language-item:last-child {
    border-bottom: none;
}
